StudyBack/.vs/StudyBack/FileContentIndex/cf32cd14-6977-436d-9b18-01ca6eb50af4.vsidx
StudyBack/.vs/StudyBack/FileContentIndex/cd7be9d0-79ea-4432-9a74-d360ef6d65ab.vsidx
StudyBack/.vs/StudyBack/FileContentIndex/decc7622-9af9-48ab-96dc-2773fe29f9c3.vsidx
StudyBack/.vs/ProjectEvaluation/studyback.metadata.v7.bin
StudyBack/.vs/ProjectEvaluation/studyback.projects.v7.bin
StudyBack/.vs/StudyBack/DesignTimeBuild/.dtbcache.v2
StudyBack/.vs/StudyBack/FileContentIndex/4605c403-9895-4ba3-87ce-eb277be181d5.vsidx
StudyBack/.vs/StudyBack/FileContentIndex/5b47dcc5-dea6-4b24-9f17-ff23e22863ab.vsidx
StudyBack/.vs/StudyBack/v17/.suo

