StudyBack/.vs/StudyBack/FileContentIndex/cf32cd14-6977-436d-9b18-01ca6eb50af4.vsidx
StudyBack/.vs/StudyBack/FileContentIndex/cd7be9d0-79ea-4432-9a74-d360ef6d65ab.vsidx
StudyBack/.vs/StudyBack/FileContentIndex/decc7622-9af9-48ab-96dc-2773fe29f9c3.vsidx

